fieldset
{
    border: 2px solid #000000;
    padding: 5px;
    margin-bottom: 20px;
    
  

}
.container {
    width: 50%;
    margin: auto;   /* centra horizontalmente */
    border: 2px double;
    padding-left: 10em;
    background-color: rgba(135, 206, 250, 0.3) ;
    height: 50%;
}
textarea {
background-color: rgba(255, 255, 255,0.3);
}